html {
    font-family: Papyrus, sans-serif;
    color: #d1d1e0;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    margin: 0;
}

.navbar {
    max-width:640px;
    margin: 0 auto;
    padding: 0 0;
    display: flex;
    flex-direction: row;
    align-items: flex-center;
    color: #d1d1e0;
    background-color: #666671;
}

.navbar__brand {
    display: flex;
}

.header__img {
    max-width:60px;
    max-height: 80px;
    margin-right: 0px
}

.navbar__navigation {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 10px;
}

.navbar__navigation-item {
    margin-left: 10px;
}

.navbar__link {
    text-decoration: none;
    color: inherit;
    margin-left: 30px;
    font-size: 100%
}

.navbar__link:hover {
    color: red;
}

.main {
    max-width: 640px;
    margin: 0 auto;
    padding: 0px;
    background-image: url("RAEflag.jpg");
    background-position: center;
    background-sie: cover;
    background-color: #cccccc;
}

.intro {
    text-align: center;
}

.quote {
    font-style: italic;
}

.form__login {
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: #666671;
    margin: 10px;
    padding: 10px 10px;
}

.login__title {
    text-align: center;
}

.form__input__fields {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    margin: auto;

}

.login__button__span {
    display: flex;
    flex-direction: column;
    max-width: 100px;
    margin: auto;
}

.login__submit__button {
    border-style: solid;
    font-family: inherit;
    font-weight: bold;
    font-size: 125%
    padding: 10px 30px;
    border-radius: 10px;
    cursor: pointer;
}

.login__submit__button:hover {
    background-color: #666671;
    color:#d1d1e0;
    border-style:solid;
    border-color: red;
}

.chart_title_div {
    text-align: center;
}

.chart__title {
    display: inline;
}

.asatdate {
    font-size: 150%;
    font-weight: bold;
}

.placeholder {
    text-align:center;
}

.chart_span {
    display: flex;
    flex-direction: column;
    max-width: 420px;
    margin: auto;
}

.footer {
    font-size: 100%;
    color: #d1d1e0;
    background-color: #666671;
    padding: 40px;
    margin: 50px 0 0 0;
}

.footer__content {
    display: flex;
    flex-direction: row;
    max-width: 640px;
    margin: 0 auto;
}

.footer .left {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
}

.footer .right {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.footer__item {
    margin-bottom: 5px;
    color: inherit;
    text-decoration: none;
}

.footer__item:hover {
    color: red;

}