<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RAE For Life</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <header class="navbar">
        <div class="navbar__brand">
             <img class="header__img" src="/static/img/RAEflag.jpg" alt="RAE flag goes here"/>
        </div>
        <ul class="navbar__navigation">
            <li class="=navbar__navigation-item">
                <a href="/" class="navbar__link">RAE For Life</a>
            </li>
            <li class="navbar__navigation-item">
                <a href="#" class="navbar__link">Formations</a>
            </li>
            <li class="=navbar__navigation-item">
                <a href="#" class="navbar__link">Farms</a>
            </li>
            <li class="=navbar__navigation-item">
                <a href="#" class="navbar__link">Downloads</a>
            </li>
        </ul>
    </header>
    <main class="main">
        <section class="intro">
            <h1>RAE for Life</h1>
            <p class="quote">
                "it means: 'no reason to hate' or 'you loathe us' "
                <br>
                by Raetradeadqueen, Nov. 2020
            </p>
        </section>
        <section>
            <form class="form__download" action="/download" method="POST">
                <p class="form__input">
                    <div class="login__title">
                        <h2>Downloads</h2>
                        <a href="/static/files/WAO_db_downloadtest.csv" class="download__link">
                            "<< Click to download csv file >>"</a>
                    </div>
            </form>
        </section>
    </main>
    <footer class="footer">
        <div class="footer__content">
            <section class="left">
                <a class="footer__item" href="#">NeoPythonProjects Design</a>
                <a class="footer__item" href="#">Contact</a>
            </section>
            <section class="right">
                <a class="footer__item" href="#">About</a>
                <a class="footer__item" href="#">How this was made</a>
            </section>
        </div>

    </footer>
</body>
</html>